jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/moodle?zeroDateTimeBehavior=convertToNull
jdbc.username=arsnova
jdbc.password=arsnova

lms.http.serverUrl=https://example.com/lms-api
lms.http.username=arsnova
lms.http.password=arsnova

# Select the data access object implementation your target platform
# Uncomment the following line to access Moodle
dao.implementation=de.thm.arsnova.connector.dao.MoodleConnectorDaoImpl
# Uncomment the following line to access Stud.IP
# dao.implementation=de.thm.arsnova.connector.dao.StudipConnectorDaoImpl
# Uncomment the following line to access Stud.IP via REST
# dao.implementation=de.thm.arsnova.connector.dao.StudipRestConnectorDaoImpl
# Uncomment the following line to get a dummy implementation
# dao.implementation=de.thm.arsnova.connector.dao.DummyConnectorDaoImpl

admin.username=arsnova
admin.password=arsnova

ldap.serverUrl=
ldap.userSearchBase=
ldap.userSearchFilter=
