jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://127.0.0.1:3306/moodle?zeroDateTimeBehavior=convertToNull
jdbc.username=root
jdbc.password=secret

lms.http.serverUrl=https://localhost/lms-api
lms.http.token=abc123
lms.http.username=connector-user
lms.http.password=secret

# Select the data access object implementation your target platform
# Uncomment the following line to access Moodle
# dao.implementation=de.thm.arsnova.connector.dao.MoodleConnectorDaoImpl
# Uncomment the following line to access Moodle via REST
  dao.implementation=de.thm.arsnova.connector.dao.MoodleRestConnectorDaoImpl
# Uncomment the following line to access Stud.IP
# dao.implementation=de.thm.arsnova.connector.dao.StudipConnectorDaoImpl
# Uncomment the following line to access Stud.IP via REST
# dao.implementation=de.thm.arsnova.connector.dao.StudipRestConnectorDaoImpl
# Uncomment the following line to get a dummy implementation
# dao.implementation=de.thm.arsnova.connector.dao.DummyConnectorDaoImpl

admin.username=test
admin.password=test

ldap.serverUrl=
ldap.userSearchBase=
ldap.userSearchFilter=
